body{
    background-color: rgb(141, 215, 190);
}
h1{
    margin-top:20%;
    font-size: 38px;
    text-align: center;
    font-weight:bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    font-size: 28px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
@media screen and (max-width:480px)
{
    h1{
        font-size: 26px;
        margin-top:45%;
    }
    h2{
        font-size: 25px;
    }
}